#bsod {
  background-color: #008cff !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#fff;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
  // margin: 0 auto;
}

#sad-face {
  font-size: 120px;
}

#upper {
  font-size:28px;
}

#lower {
  font-size: 16px;
}
