/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Playball');

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
  background-image: url("assets/vapoware.png");
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

*{
  cursor:url("assets/cursor-small.png"), auto !important;
}

#volumeControl {
  margin-top: 0px;
  margin-bottom: auto;
  min-width: 60px;
  height: 70%;
}

#volumeControl > mat-slider {
  margin: 0 auto;
}

#musicButton{
  display: block;
  margin-left: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  width: 100%;
  border: 0px !important;
  font-size: 40px;
  font-family: 'Playball', sans-serif;
  color: #fff;
  text-align: right;
}

#musicButton > *{
  border: 0px !important;
}

#displayedContent{
  display: flex;
  height: 200px;
}

#soundGif{
  max-width: 40px;
  max-height: 40px;
  margin-left: 8px;
}

#listMenu{
  position: relative;
  height: 200px;
  overflow-y: scroll !important;
  background-color: #290B1F;
}

#listMenu > * > *{
  height: 50px;
  width: 170px;
  border-bottom-style: solid;
  border-color: #000000;
  border-width: 2px;
  color: white;
  background-color: #151315;
}

#listMenu > * > *:hover{
  border-bottom-style: solid;
  border-color: #fff;
  color: white;
  background-color: #383538;
}

.drageable{
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
             0 2px 2px 0 rgba(0, 0, 0, 0.14),
             0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#musicMenu{
  height: 241 !important;
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 20px;
  border: 2px outset #C4148B;
  border-radius: 4px;
  border-width: 5px;
  background-color: #290B1F;
  //-----------------------------

}

.drageable:active{
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#musicMenu > * > *{
  margin-top: 0 !important;
  margin-bottom: auto !important;
  display:inline-table;
  margin-left: 0px;
  padding-left: 0px;
}

.mat-slider-thumb{
  background-color: #1FFFE0 !important;
  z-index: 1001;
}

.mat-slider-track-fill{
  background-color: #fff !important;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #290B1F;
  border-radius: 10px;
}

.mat-slider{
  z-index: 10010101;
}


// Primary #760FA3
// Second  #1A0C63
// 3rd     #1FFFE0

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    background-color: #60151515;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #760FA3;
    -webkit-box-shadow: inset 0 0 6pt rgba(0,0,0,0.1);
}


#addUpdateButton{
  background-color: #760FA3;
}

#addUpdateButton:disabled{
  background-color: #ccc;
}

#mediaSound{
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
}



#table{
  opacity: 0.8;
}

#tabbar{
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#tabbar > *{
  margin-left: 10px;
  margin-right: 10px;
}

#title{
    padding-left: 15px;
    text-align: left;
    padding-top: 33px;
    font-size: 70px;
    font-family: 'Playball', sans-serif;
    color: #FFFFFF;
    text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 2px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

#bg-image{
  z-index: -100;
  margin-top: 9px;
  height: 199px;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  background-image: url('https://www.greenmousetech.com/wp-content/uploads/2018/01/greenmouse-bg1.jpeg');
  background-repeat: no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-size: cover;
}

.header {
  margin-top: 0px;
  margin-bottom: 0px;
  //background-color: #00ff73;
  opacity: 0.9;
  //background-color: #9F46C5;
  border-radius: 10px;

}

mat-label.ng-star-inserted{
  color: #000;
}

.mat-paginator-page-size-label,
.mat-paginator-range-label {
 color: #000;
}

a.mat-raised-button {
  margin-left: 10px;
}

.button {
  margin-left: 12px!important;
}

#stylePurpleButton{
  color: white;
  background-color: #760FA3;
  border: 2px outset #fff;
}

#styleBlueButton {
  color: white;
  background-color: #1A0C63;
  border: 2px outset #1FFFE0;
}

#styleWineButton{
  color: white;
  background-color: #561541;
  border: 2px outset #C4148B;
}

table.mat-table {
  width: 100%;
  align-content: left;
  text-align: left;
}

#whiteLetter > *{
  color: white;
}

#whiteLetter > * > * > *{
  color: white;
}

#whiteLetter > * > * > * > * > *{
  color: white;
}

#whiteLetter > * > * > * > * > * > *{
  color: white;
}

th.mat-header-cell {
  padding: 12px;
  max-width: 320px;
  background-color: #760FA3;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

.mat-paginator{
		background-color: transparent;
}

tr.selected td {
		background-color: #250235;
    color: #FFFFFF;
}

.mat-dialog-title{
		font-size: 2em;
}

#cdk-overlay-0{
  overflow-y: hidden;
}

.mat-dialog-container{
		background-color: rgba(40, 40, 40, 0.65);
    border-radius: 20px;
    border: 3px groove #FF00FF;
}

.mat-dialog-content{
    color: #000;
    height: 100%;
}

.mat-select-value{
  color: #000;
}

.mat-input-element{
  caret-color: #000;
}

table {
		width: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
		min-width: 500px;
}

.mat-cell{
		color: rgba(0, 0, 0, 0.87);
}

tr:nth-child(odd){
		background-color: #FFFFFF;
}

tr:nth-child(even){
		background-color: #CD8DE8;
}

	// mat-icon-stepper selected color change
	.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
		background-color: red!important;
	}

	//input outline color
	.mat-form-field-appearance-outline .mat-form-field-outline {
		color: #000;
		// opacity: 1!important;
	}

	//mat-input focused color
	.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
		color: #000;
  }

  // mat-input carent color
	.mat-input-element {
		color: #000;
		caret-color: #000;
  }

  // mat-label focused style
  // .ng-star-inserted
	.mat-form-field.mat-focused, .mat-form-field-label {
		color: #000;
  }

  // mat-label normal state style
	.mat-form-field-label {
		color: rgba(0, 0, 0, 0.6);
		//color: $mainColor!important;
	}

	// mat-input error outline color
	.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
		color: red;
		opacity: 0.8;
	}

	// mat-input error carent color
	.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
		caret-color: red;
	}

	// mat-label error style
	.mat-form-field.mat-form-field-invalid .mat-form-field-label {
		color: red;
	}

	.mat-icon-button[disabled][disabled]{
		color: #00000056;
	}

	.mat-select-arrow {
		color: rgb(0, 0, 0);
	}

	.mat-option {
		color: rgba(0,0,0,.87);
	}

	.mat-paginator-container{
		text-align: center;
		padding: 10px;
		//background-color: #1A204B;
		font-size: 14px;
		//color: #CCC;
	}

	.input{
		margin: 10px;
	}

	.input-width{
		width: 350px;
	}

	.inline{
		display: inline-grid;
    margin-bottom: 40px;
	}
