<iframe id="myVideo" src="https://www.youtube.com/embed/v=Lup1qQXTebM?controls=0&autoplay=1&loop=1" frameborder="0" allowfullscreen>
</iframe>

<div style="text-align:center">
  <div class="header">
    <div id="bg-image"></div>
    <h1 id="title">
    Bienvenido a {{ title }}!
    </h1>
    <nav id="tabbar">
      <button  mat-raised-button color="accent" routerLink="/baraja" routerLinkActive="active">Baraja</button>
      <button (click)="buyDLC()" mat-raised-button color="disabled">Projecto finalizado</button>
      <button mat-raised-button color="warn" routerLink="/ejemploRutaNoDefinida" routerLinkActive="active">Ruta No Definida</button>
    </nav>
  </div>

  <br />
  <p>
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null" [dismissible]="true">
      Necesitas un dlc para poder acceder a este enlace,<br />
      puedes comprarlo por {{ dlcPrice }} € en <a href="https://www.metrica.es/" target="_blank" >Metrica</a>
    </ngb-alert>
  </p>
<router-outlet></router-outlet>
