<div id="musicMenu" class="drageaable" [cdkDragDisabled]="dragOff" cdkDrag>
  <button mat-button id="musicButton" (dblclick)="showMenu()">Musica</button>
  <div *ngIf="isHide" id="displayedContent">
    <div>
      <div id="volumeControl" (mouseleave)="enableDrag()" (mouseup)="enableDrag()" (mousedown)="disableDrag()">
        <mat-slider
        [max]="1"
        [min]="0"
        [step]="0.01"
        [(ngModel)]="volume"
        [vertical]="vertical">
        </mat-slider>
      </div>
      <img src="assets/Speaker.gif" id="soundGif" (click)="muteAudio()">
    </div>
    <div class="col-md-6">
      <mdb-card class="scrollbar-ripe-malinka" id="listMenu">
          <div (click)="configSongO()"> OverDrive </div>
          <div (click)="configSongGND()"> Great Nano Desu </div>
          <div (click)="configSongFAM()"> Flesh & Metal </div>
          <div (click)="configSongTFAF()"> Through the fire and flames </div>
          <div (click)="configSongMB()"> My Brother </div>
          <div (click)="configSongBOM()"> Bliss on the Mushrooms </div>
          <div (click)="configSongFTM()"> Feel the Melody </div>
          <div (click)="configSongGGG()"> Gas Gas Gas </div>
          <div (click)="configSongBP()"> Brain Power </div>
          <div (click)="configSongNS()"> New Stryle </div>
    </mdb-card>
  </div>

  </div>
</div>
<div>
<video #myVideo id="myVideo" loop autoplay>
  <source src="assets/Retro_2017_(loop).webm" type="video/webm">
  <p>Your browser doesn't support HTML5 video. Here is
     a <a href="assets/Retro_2017_(loop).webm">link to the video</a> instead.</p>
</video>
</div>
<script>

</script>

<audio #myAudio id="mediaSound" loop >
  <source src="assets/Lazerhawk_-_Overdrive.webm" type="audio/webm">
  <p>Your browser doesn't support HTML5 video. Here is
      a <a href="assets/Lazerhawk_-_Overdrive.webm">link to the video</a> instead.</p>
</audio>
<!--
<iframe id="mediaSound" width="0%" height="0%" src="https://www.youtube.com/embed/39zKhsT5naI?autoplay=1&playlist=39zKhsT5naI&loop=1&start=10"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;">
</iframe>
-->

<div style="text-align:center">
  <div class="header">
    <div id="bg-image"></div>
    <h1 id="title">

  <div class="glitch" data-text="Strobocops">

      <span class="glitch__color glitch__color--red">Delta Frame</span>
      <span class="glitch__color glitch__color--blue">Delta Frame</span>
      <span class="glitch__color glitch__color--green">Delta Frame</span>
      <span class="glitch__main">Delta Frame</span>
      <span class="glitch__line glitch__line--first"></span>
      <span class="glitch__line glitch__line--second"></span>
  </div>


    </h1>
    <nav id="tabbar">
      <button  mat-raised-button id="styleBlueButton" routerLink="/baraja" routerLinkActive="active">Baraja</button>
      <button (click)="buyDLC()" id="styleWineButton" mat-raised-button>Projecto finalizado</button>
      <button mat-raised-button id="stylePurpleButton" routerLink="/ejemploRutaNoDefinida" routerLinkActive="active">Ruta No Definida</button>
      <button mat-raised-button id="stylePurpleButton" routerLink="/login" routerLinkActive="active">Login</button>
    </nav>
  </div>


  <p>
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null" [dismissible]="true">
      Necesitas un dlc para poder acceder a este enlace,<br />
      puedes comprarlo por {{ dlcPrice }} € en <a href="https://www.metrica.es/" target="_blank" >Metrica</a>
    </ngb-alert>
  </p>
<router-outlet></router-outlet>
