<div id="volumeControl">
  <mat-card class="result">
    <mat-card-content>
       <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [tickInterval]="tickInterval"
        [(ngModel)]="value"
        [vertical]="vertical">
      </mat-slider>
    </mat-card-content>
  </mat-card>
</div>
<div id="musicMenu">
  <mat-list>
    <mat-list-item (click)="configSongDefault()"> VapoWave </mat-list-item>
    <mat-list-item (click)="configSongKawaii()"> Kawaii </mat-list-item>
    <mat-list-item (click)="configSongDoom()"> Doom </mat-list-item>
    <mat-list-item (click)="configSongFireAndFlame()"> Fire And Flames </mat-list-item>
    <mat-list-item (click)="configSongBerserk()"> Berserker </mat-list-item>
    <mat-list-item (click)="configSongInfectedMushroom()"> Infected Mushroom </mat-list-item>
  </mat-list>
</div>
<div>
<video #myVideo id="myVideo" loop autoplay>
  <source src="assets/Retro_2017_(loop).webm" type="video/webm">
  <source src="assets/Retro_2017_(loop).mp4" type="video/mp4">
  <p>Your browser doesn't support HTML5 video. Here is
     a <a href="assets/Retro_2017_(loop).mp4">link to the video</a> instead.</p>
</video>
</div>
<script>

</script>

<audio #myAudio id="mediaSound" loop autoplay>
  <source src="assets/Lazerhawk_-_Overdrive.webm" type="audio/webm">
  <p>Your browser doesn't support HTML5 video. Here is
      a <a href="assets/Lazerhawk_-_Overdrive.webm">link to the video</a> instead.</p>
</audio>
<!--
<iframe id="mediaSound" width="0%" height="0%" src="https://www.youtube.com/embed/39zKhsT5naI?autoplay=1&playlist=39zKhsT5naI&loop=1&start=10"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;">
</iframe>
-->

<div style="text-align:center">
  <div class="header">
    <div id="bg-image"></div>
    <h1 id="title">

  <div class="glitch" data-text="Strobocops">

      <span class="glitch__color glitch__color--red">Delta Frame</span>
      <span class="glitch__color glitch__color--blue">Delta Frame</span>
      <span class="glitch__color glitch__color--green">Delta Frame</span>
      <span class="glitch__main">Delta Frame</span>
      <span class="glitch__line glitch__line--first"></span>
      <span class="glitch__line glitch__line--second"></span>
  </div>


    </h1>
    <nav id="tabbar">
      <button  mat-raised-button id="styleBlueButton" routerLink="/baraja" routerLinkActive="active">Baraja</button>
      <button (click)="buyDLC()" id="styleWineButton" mat-raised-button>Projecto finalizado</button>
      <button mat-raised-button id="stylePurpleButton" routerLink="/ejemploRutaNoDefinida" routerLinkActive="active">Ruta No Definida</button>
    </nav>
  </div>


  <p>
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null" [dismissible]="true">
      Necesitas un dlc para poder acceder a este enlace,<br />
      puedes comprarlo por {{ dlcPrice }} € en <a href="https://www.metrica.es/" target="_blank" >Metrica</a>
    </ngb-alert>
  </p>
<router-outlet></router-outlet>
