h1#title {
  display: inline-table;
}

button#close-dialog {
  float: right;
  margin-left: 10px;
}

form#barajaForm {
  height: auto;
}

#deleteButton{
  display: inline-table;
}

#close-dialog{
  color: white;
  background-color: #561541;
  border: 2px solid #C4148B;
}

iframe#chrismckenzie {
  float: right;
  //display: inline-flex;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border:0;
  display: none;
}

iframe#chrismckenzie > * {
  background-color: transparent;
}

iframe#chrismckenzie > iframe {
  display: none;
}
