<h1 mat-dialog-title>Baraja:</h1>
<div mat-dialog-content >
    <div class="input input-width inline" >
        <mat-form-field appearance="outline" [formGroup]="formGroup">
            <mat-label>Nombre</mat-label>
            <input matInput value="{{ baraja.nombre }}" formControlName="nombre">
          </mat-form-field>
          <mat-form-field appearance="outline" [formGroup]="formGroup">
              <mat-label>Cantidad de Cartas</mat-label>
              <input matInput id="apellido1" value="{{ baraja.cantidadCartas }}" formControlName="cantidadCartas" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline" [formGroup]="formGroup">
              <mat-label>Marca</mat-label>
              <input matInput value="{{ baraja.marca }}" formControlName="marca">
          </mat-form-field>
    </div>
  <mat-dialog-actions>
    <button mat-fab color="primary" class="button" (click)="addBaraja()" *ngIf="!baraja.id">Añadir</button>
    <button mat-fab color="primary" class="button" (click)="editBaraja()" *ngIf="baraja.id">Editar</button>
    <button mat-fab color="warn" class="button" (click)="deleteBaraja()" *ngIf="baraja.id">Eliminar</button>
  </mat-dialog-actions>
</div>
